body {
  font-size: 12pt;
}

*,
*::before,
*::after {
  background: #fff !important;
  color: #000 !important;

  box-shadow: none !important;
  text-shadow: none !important;
}

body > *:not(main) {
  display: none;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:not(.not-print)::after {
  content: " (" attr(href) ")";
}

.print {
  display: block;
}

@page {
	margin: 1cm;
}