@forward '../components/manager-card';

@media (min-width: 750px) {
    .managers {
        &__list {
            justify-content: center;
        }
    }
}

@media (min-width: 1100px) {
    .managers {
        &__item {
            width: calc(33% - 17px);
        }
    }
}

@media print {
    .managers {
        &__item {
            width: 100%;
            display: flex
        }
    }
}