@use '../utilities/variables';
@use '../utilities/mixins';

.menu {
    @include mixins.flex-box(30px, column, $h: center);

    &__link {
        @include mixins.mobile-font();
        color: variables.color("second-text");
        
        transition: color .6s ease;

        &:hover {
            color: variables.color("rev-secondary");
        }
    }
}

@media (min-width: 750px) {
    .menu {
        flex-direction: row;

        &__link {
            @include mixins.link-font();
        }
    }
}